In [3]:
pip install opencv-python

Requirement already satisfied: opencv-python in c:\users\gebruiker\appdata\local\programs\python\python39\lib\site-packages (4.5.5.64)
Requirement already satisfied: numpy>=1.17.3 in c:\users\gebruiker\appdata\local\programs\python\python39\lib\site-packages (from opencv-python) (1.22.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\Gebruiker\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

## Imports

In [7]:
import pandas as pd
import numpy as np
import cv2

## CSV data ophalen

In [10]:
pad_naar_file = "C:/Users/Gebruiker/Desktop/Image_Processing/sartorius-cell-instance-segmentation/train.csv"

In [23]:
def read_data(csv_file):
    dataframe = pd.read_csv(csv_file, sep=',')
    return dataframe

data = read_data(pad_naar_file);

### Kopie maken van de dataframe voor verwerking

In [24]:
df = data

### Data dictionary ###

| Variabele | Omschrijving | Datatype | Numeriek of Categorie | Meetniveau |
| :--- | :--- | :--- | :--- | :--- |
| Id | Een unieke identificatie code | Integer | Nummeriek | Ordinaal |
| annotation | gecodeerde pixels van een ge√Ødentificeerde neuronen cell | object | Nummeriek | Ordinaal |
| width | breedte van de source image | Integer | Nummeriek | Interval |
| height | hoogte van de source image | Integer | Nummeriek | Interval |
| cell_type | Type van de cell | String | Catagorie | Nominaal |
| plate_time | Tijd van het maken van de sample | Time | Nummeriek | Interval |
| sample_date | Datum wanneer de sample is gemaakt | Date | Nummeriek | Interval |
| sample_id | Een unieke identificatie code van de sample | Integer | Catagorie | Ordinaal |
| elepased_timedelta | Tijd sinds eerste image is genomen | Date | Nummeriek | Ratio |

## verkennende analyse

In [25]:
df.head(5)

,id,annotation,width,height,cell_type,plate_time,sample_date,sample_id,elapsed_timedelta
0,0030fd0e6378,118145 6 118849 7 119553 8 120257 8 120961 9 1...,704,520,shsy5y,11h30m00s,2019-06-16,shsy5y[diff]_E10-4_Vessel-714_Ph_3,0 days 11:30:00
1,0030fd0e6378,189036 1 189739 3 190441 6 191144 7 191848 8 1...,704,520,shsy5y,11h30m00s,2019-06-16,shsy5y[diff]_E10-4_Vessel-714_Ph_3,0 days 11:30:00
2,0030fd0e6378,173567 3 174270 5 174974 5 175678 6 176382 7 1...,704,520,shsy5y,11h30m00s,2019-06-16,shsy5y[diff]_E10-4_Vessel-714_Ph_3,0 days 11:30:00
3,0030fd0e6378,196723 4 197427 6 198130 7 198834 8 199538 8 2...,704,520,shsy5y,11h30m00s,2019-06-16,shsy5y[diff]_E10-4_Vessel-714_Ph_3,0 days 11:30:00
4,0030fd0e6378,167818 3 168522 5 169225 7 169928 8 170632 9 1...,704,520,shsy5y,11h30m00s,2019-06-16,shsy5y[diff]_E10-4_Vessel-714_Ph_3,0 days 11:30:00

In [32]:
df.dtypes

id                   object
annotation           object
width                 int64
height                int64
cell_type            object
plate_time           object
sample_date          object
sample_id            object
elapsed_timedelta    object
dtype: object